<%- include ("../partials/header") -%>

        <div class="menu">
            <div class="menu-container">
                <div class="box-section">
                    <h1>Menu</h1>
                    <input type="text" placeholder=" Dish...">                    
                    <div class="dishes-container">
                        <!-- dishes -->
                        <div class="row">

                            <!-- dish -->
                            <% dishes.forEach((dish)=>{ %> 
                                
                                <div class="col-lg-6">
                                    <div class="dish">
                                        <figure>
                                            <img alt="Dish image" class="dish-img" src=<%= dish.image %> >
                                            <figcaption><%= dish.name %></figcaption>
                                        </figure>
                                        <p class="dish-description">
                                            <%= dish.description %>
                                        </p>
                                        <p class="dish-price">Price: R$ <%= dish.price %></p>     
                                        <p class="dish-stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </p>
                                        <button type="button" class="btn btn-dark btn-lg dish-btn">Comments</button>
                                    </div>
                                </div>
                            <% }) %>
                        </div> <!-- end of dishes div -->

                    </div>
                </div>
            </div>
        </div>


<%- include ("../partials/footer") -%> 